# Framework
# ---------

YII_DEBUG   = true
YII_ENV     = tests

# Databases
# ---------

DB_DSN           = mysql:host=localhost;port=3306;dbname=sql_audit_tests
DB_USER          = root
DB_PASSWORD      = root
DB_TABLE_PREFIX  =

# Urls
# ----

BACKEND_URL     = http://sqlaudit.dev

# Other
# -----
BACKEND_COOKIE_VALIDATION_KEY = h8znJTH9JcyYHp7hzP5qiworjFiVtOZx
ADMIN_EMAIL    = admin@sqlaudit.dev
ROBOT_EMAIL    = robot@sqlaudit.dev
GITHUB_CLIENT_ID = your-client-id
GITHUB_CLIENT_SECRET = your-client-secret

